.number-text{
    text-align: center;
    color: #EA3B2E;
    font-size: 2rem;
}
.num-text{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    
    color: #757575;
}
.inner-container{
    margin: 1em ;
    padding:40px 35px ;
}