*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel{
    padding: 0% 2rem;
    background-color: white;
    color: #fff;
    height: 30vh;
    width: 60%;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto ;
    
}
.slick-next:before,
.slick-prev:before{
    
    color: red !important;
    
}
.slick-slide div{
    margin: 0 2rem;

}
.slick-dots li.slick-active button:before{
    color: black !important;
}
.slick-dots li button:before{
    color: black !important;
    font-size: 0.5rem !important;
    top: 0.2rem !important;
    
    
}
.box img{
    width: 80%;
    height: 150px;
    pointer-events: none;
}
#rge{
    text-align: center;
    letter-spacing: 3px;
    color: #EA3B2E;
    font-size: medium;
    margin-bottom: 30px;
}